<div class="container" style="margin-top: 50px;">

  <div class="border-bottom mb-4">
    <h2 style="font-weight: bold;">Sign up</h2>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  label: false,
                  input_html: { autocomplete: "name", class: "form-border", placeholder: "Name" }
                  %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  label: false,
                  input_html: { autocomplete: "email", class: "form-border", placeholder: "Email"  }%>
      <%= f.input :password,
                  required: true,
                  label: false,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password", class: "form-border", placeholder: "New password"  } %>
      <%= f.input :password_confirmation,
                  required: true,
                  label: false,
                  input_html: { autocomplete: "new-password", class: "form-border", placeholder: "Password confirmation"  } %>
      <%= f.input :photo, as: :file %>
    </div>

    <div class="form-actions ml-0">
      <%= f.button :submit, "Sign up", class:"btn btn-primary btn-form" %>
    </div>
  <% end %>

  <%= render "devise/shared/links"%>
</div>
