<div class="container">

  <div class="dash-columns">

    <div class="profile">
        <h3> Profile</h3>
        <h4> Welcome <%= current_user.name %> !</h4>
        <%= cl_image_tag current_user.profile_picture, class: "dash-avatar" %>
        <div class="icons">
          <p class="account"><i class="fas fa-user"></i>  Edit my account </p>
          <p class="share"><i class="fas fa-share-alt"></i>  Share my profile</p>
          <p class="favorites"><i class="fas fa-heart"></i>  See my favorites </p>
        </div>
    </div>


    <div class="dash-bookings">

      <h3>My Bookings</h3>

          <% current_user.bookings.each do |booking| %>
            <%= link_to boat_path(booking.boat), class: "dash-card-link text-decoration-none" do %>
              <div class="dash-card d-relative">
                <%= cl_image_tag booking.boat.photo.key %>
                <div class= "dash-card-infos">
                  <h4><%= booking.boat.title %></h4>
                    <p>From <br>
                  <%= booking.start_date.strftime("%A %e %B") %></p>
                    <p>To <br>
                  <%= booking.end_date.strftime("%A %e %B") %></p>
                </div>
              </div>
            <% end %>
          <% end %>

    </div>
  </div>
</div>

