<div class="container">

  <div class="dash-columns">

    <div class="profile">
        <h3> Profile</h3>
        <h4> Welcome <%= current_user.name %> !</h4>
        <%= cl_image_tag current_user.profile_picture, class: "dash-avatar" %>
        <div class="icons">
          <p class="account"><i class="fas fa-user">  Edit my account </i></p>
          <p class="share"><i class="fas fa-share-alt">  Share my profile</i></p>
          <p class="favorites"><i class="fas fa-heart">  See my favorites </i></p>
        </div>
    </div>


    <div class="dash-bookings">

      <h3>My Bookings</h3>

          <% current_user.bookings.each do |booking| %>
          <div class="dash-card">
              <%= cl_image_tag booking.boat.photo.key %>
              <div class= "dash-card-infos">
                <h4><%= booking.id %></h4>
                  <p>From <br>
                <%= booking.start_date.strftime("%A %e %B") %></p>
                  <p>To <br>
                <%= booking.end_date.strftime("%A %e %B") %></p>
              </div>
            </div>
          <% end %>

    </div>

  </div>

</div>

<%= render 'shared/footer' %>

