<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
   <%= link_to "/", class: "navbar-brand" do %>
   <%= inline_svg('yacht.svg', height: "35", width: "100", class: "position-logo")  %>
   <span id="logo" style="font-family: 'pacifico'; font-size: 25px; position: relative; right:20px;">WaterBnb</span>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="search d-flex align-items-center">
    <%= form_tag(boats_path, method: :get, class: "form d-flex") do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control research-form",
            placeholder: "Search for a boat"
      %>
      <%= select_tag "category", options_for_select(Boat::CATEGORIES), class: "research-form", prompt: 'Category' %>
      <%= text_field_tag :price_max,
          params[:price_max],
          class: "form-control research-form",
          placeholder: "Maximum price"
      %>
      <%= submit_tag "Search", class: "btn btn-search" %>
    <% end %>
  </div>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="book_btn_nav">
            <%= link_to 'New rental +', new_boat_path, class: "btn btn-flat"%>
        </li>
        <li class="nav-item dropdown">
          <%= cl_image_tag current_user.profile_picture, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <%= link_to "Dashboard", bookings_path, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
