<div class="boats-container ">

<% @boats.each do |boat| %>
  <div class="card" style="width: 18rem;">
    <% if boat.photo.attached?  %>
      <%= cl_image_tag(boat.photo.key, width: 285, height: 280, crop: :fill) %>
    <% else  %>
      <%= image_tag ("https://cdn.pixabay.com/photo/2015/10/30/20/13/sunrise-1014711_1280.jpg") %>
      <% end  %>
    <div class="card-body">
      <h4 class="card-title"><%= boat.title %></h4>
      <h5 class = "card-category"> <%= boat.category %></h5>
      <%= link_to "Plus d'informations" , boat_path(boat) %>
    </div>
    </div>
    <% end %>
  </div>

  <%= link_to 'Create a new boat', new_boat_path %>

</div>
