<div class="container">
  <div class="">
    <%= simple_form_for (@boat) do |f| %>
      <div class="form-group mt-5">
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :category, collection: Boat::CATEGORIES %>
        <%= f.input :price %>
      </div>
      <div class="add-photo">
        <%= f.input :photo, as: :file %>
        <%= f.submit "Share your boat", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
