
<div class="container">
  <div class="boat_container">
    <div class="title">
      <h1 class="text-justify pt-3"><%= @boat.title %></h1>
    </div>

    <div class="mt-4 mb-4 photo">
      <%= cl_image_tag @boat.photo.key, crop: :fill %>
    </div>

    <div class="info-container">

      <div id="mother_description" class="content d-flex mt-2 justify-content-between">
        <div id="boat-show-left" class="child_description">
          <h3> Boat description</h3>
          <p><%= @boat.description %></p>
          <h3> Boat category</h3>
          <p><%= @boat.category %></p>

        <!--   <div id="show-action-btn ">
            <div class="btn btn-flat-reverse">
              <%= link_to 'Edit', edit_boat_path(@boat), class: "btn-flat-reverse"%>
            </div>
            <div class="btn btn-flat-reverse">
              <%= link_to 'Delete', boat_path(@boat),
                                        method: :delete,
                                        data: {confirm: "Are you sure ?"},
                                        class: "btn-flat-reverse"%>
            </div>
          </div> -->
        </div>

        <div id="boat-show-right" class="child_description">
          <div class="book_info">
            <h4 id="book_info_price"> <%= @boat.price %> € /day</h4>

            <div id="book_info_date">
              <div id="book-info-from">
                <p> from 10/08/20</p>
              </div>
              <div id="book_info_until">
                <p> until 24/08/20</p>
              </div>
            </div>

          </div>
          <div class="book_btn">
            <%= link_to 'Book your boat !', new_boat_booking_path(@boat), class: "btn btn-flat"%>
          </div>

        </div>
      </div>

      </div>
    </div>
      <div id="booking-board">
        <div>
          <% @boat.bookings.each do |booking| %>
          <div>
            <h4>Booking n° <%= booking.id %></h4>
            <p>From <br>
              <%= booking.start_date %></p>
            <p>To <br>
              <%= booking.end_date %></p>
              <% end %>
          </div>
        </div>
      </div>
  </div>

</div>

